<!-- Current element path -->
<div>
	<span>Ruta de elemento actual</span>
	<button>&otimes;</button>
	<button ng-repeat="e in ['X', 'Y']">{{ e }}</button>
</div>

<!-- Current element -->
<div>
	<span>Elemento Actual:</span>
	<h3>{{ models.currentElement.name }}</h3>
	<button>Modificar</button>
</div>

<!-- Sub elements container -->
<div>
	<span>Sub-Elements</span>
	<ul>
		<li
			ng-repeat="s in models.subElements"
			ng-click="methods.setCurrentElement(s);"
		>{{ s.name }}</li>
	</ul>
</div>

<!-- Options container -->
<div>
	<button>Agregar</button>
</div>


<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->

<!-- 

	<div class="gzc-parents-path" ng-if="models.currentGeozone">
		<span>Ubicación de Zona Geográfica Actual</span>
		<button class="color1" ng-click="methods.setGeoZone()">&otimes;</button>
		<button ng-repeat="gz in models.currentGeozonePath | deleteLasteElem" ng-click="methods.setPathGeoZone($index, gz)" class="color1">{{ gz.name }}</button>
	</div>

	<div class="gzc-current-container" ng-if="models.currentGeozone">
		<span>Zona Geográfica Actual:</span>
		<button class="name">{{ models.currentGeozone.name }}</button>
		<button class="action" ng-click="methods.updateName()">Modificar Nombre</button>
		<button class="action" ng-click="methods.createGeoZone()">Crear Nueva Sub-Zona Geográfica </button>
	</div>

	<div class="gzc-subzones-container">
		<span>{{ models.currentGeozone ? 'Sub-' : '' }}Zonas Geográficas</span>
		<ul>
			<li ng-click="methods.setGeoZone(s);" ng-repeat="s in models.subGeoZones | sortGeozonesList">{{ s.name }}</li>
		</ul>
	</div>

	<button ng-if="!models.currentGeozone" ng-click="methods.createGeoZone()" class="gzc-create-geozone">Crear Zona Geográfica</button>

 -->